{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "browsers": [">1%", "not ie<=8"]
                },
                "useBuiltIns": "usage",
                "corejs": "^3.0.1"
            }
        ],
        "@babel/preset-react"
    ]
}